.rayContainer {
  position: fixed;
  inset: 0;
  overflow: hidden;
  animation: fadeIn 1.5s ease-out;
  pointer-events: none;
  z-index: 1; // Changed back to positive but low number
  :global(html[data-theme='dark']) & {
    background-color: #000000;
  }

  :global(html[data-theme='light']) & {
    background-color: #f4f4fb;
  }
}
